body{
    background-image: url("assets/swish.jpg");
    text-align: center;
    color: yellow;
    border: 10px solid tomato;
}

h1{
    color: plum;
    font-size: 40pt;
    background-color: black
}

h2{
    color: lightseagreen;
    font-size: 30pt;
    background-color: black
}

h3{
    color: lightgoldenrodyellow;
    font-size: 20pt;
    background-color: black
}